$color-red:#cb0000;
$color-red2:#da4c4c;
$color-darkred:#8e0000;
$color-dark:#1f140c;
$color-dark2:#1e130b;
$color-navydark:#252a38;
$color-darknavy:#1b1e25;
$color-navy:#2a3040;
$color-lightgray:#ebeef2;
$color-lightgray2:#f0f0f0;
$color-gray2:#6f6f6f;

// BASIC
$color-white:#fff;
$color-black:#000;
$color-gray:#6f6f6f;
$color-blue:#1d80bb;
$color-blue2:#0080bb;
$color-blue3:#208cbd;
$color-blue4:#0080bc;


$color-primary:$color-black;
$color-secondary:$color-blue;
$color-third:$color-dark;


// $color-primary:$color-blue;
// $color-secondary:$color-dark;
// $color-third:$color-dark2;