$banner-background-color:#000;

.banner {
    // height: 100vh !important;
    // margin-top: $header-height;
    height: 100vh;
    overflow: visible;
    // padding-left: 3%;
    // padding-right: 3%;
    min-height: calc(100%);
    position: relative;
    background-color: $banner-background-color;
    &__slick {
        display: block;
        height: 100%;
        position: relative;
        margin-bottom: 0 !important;

        button.slick-prev.slick-arrow {
            background: #f00;
            width: 20px;
            height: 99px;
            overflow: hidden;
            text-indent: -999px;
            position: absolute;
            left: -11px;
            z-index: 5;
            top: 0 !important;
            bottom: 0 !important;
            margin: auto;
        }

        button.slick-next.slick-arrow {
            background: #f00;
            width: 20px;
            height: 99px;
            overflow: hidden;
            text-indent: -999px;
            position: absolute;
            right: -11px;
            z-index: 5;
            top: 0 !important;
            bottom: 0 !important;
            margin: auto;
        }

        div {
            width: 100%;
            height: 100%;
        }
    }

    .slick-dots {
        position: absolute;
        top: 40%;
        bottom: 0;
        right: 14%;
        left: initial;
        width: 20px;
        text-align: center;
        padding: 0;
        text-orientation: sideways;
        // writing-mode: vertical-rl;
        margin: 0;

        li {
            display: inline-block;
            margin: 10px 0;

            button {
                width: 20px;
                height: 20px;
                @include border-radius(100%);
                overflow: hidden;
                text-indent: -999px;
                margin: 0;
                background: rgba(255,255,255,0.5);
                border: 3px solid transparent;
                box-sizing: border-box;
                padding: 0 !important;

                &:before {
                    opacity: 0;
                }
            }

            &.slick-active {
                button {
                    background: $color-white;
                }
            }
        }
    }
    &__item {
        position: relative;

        &--middle {
            @include flex;
            @include flex-align-items(center);
            @include flex-justify-content(center);
        }

        &:before {
            content: '';
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        position: relative;

        &__text {
            height: auto !important;
            h1 {
                color: $color-white;
                font-size: 58px;
                line-height: 74px;

                @media (max-width: 1200px) {
                    font-size: 2.8em;
                    line-height: 1.2;
                }
                @media (max-width: 768px) {
                    font-size: 2.5em;
                    line-height: 1.2;
                    width: 88%;
                }
                @media (max-width: 400px) {
                    font-size: 2.3em;
                    width: 85%;
                }
            }
            p {
                font-size: 21px;
                line-height: 30px;
                text-transform: uppercase;
                color: $color-white;
                margin-bottom: 0;

                @media (max-width: 1200px) {
                    font-size: 18px;
                    line-height: 1.2;
                }
            }
        }
        &__cta {
            height: auto !important;
        }

        &--description {
            padding-left: 100px;
            padding-top: 20px;

            p {
                font-size: 1.2em;
                color: $color-white;
            }
        }
    }

    .btn--scroll-down {
        left: 50%;
        right: 50%;
        bottom: 55px;
        margin: 0;
        z-index: 1;
        text-align: center;

        &:hover {
            text-decoration: none;
        }
        &:before {
            content: '';
            height: 150px;
            width: 1px;
            position: absolute;
            background: #0080bb;
            bottom: 65px;
            z-index: 2;
            overflow: visible;
        }
    }

}

.sub-banner {
    // height: 538px;
    margin-top: $header-height;
    height: 358px;
    background: #f00 !important;
    background-size: cover !important;
    background-position: center !important;
    @include flex;
    @include flex-align-items(center);

    &__wrapper {
        position: relative;
        height: 100%;
        max-width: 1400px;
    }

    &__item {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    &__content {
        width: 100%;
        max-width: 100%;

        h1 {
            border-top: 5px solid $color-secondary;
            display: inline-block;
            background: $color-white;
            margin-bottom: 0;
            padding: 14px 25px;
            font-size: 2em;
            font-weight: $weight-extrabold;

            @media only screen and (max-width: $tablet) {
                font-size: 1.5em;
            }

            @media only screen and (max-width:$mobile) {
                font-size: 1em;
            }
        }
    }
}