.btn {

    &--primary {
        background: $color-secondary;
        border: 1px solid $color-secondary;
        padding: 12px 48px;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: $color-white;
        border-radius: 3px;
        text-transform: uppercase;
        display: inline-block;
        @include transition(.3s);

        @media only screen and (max-width:$mobile) {
            padding: 10px 30px;
            font-size: .9em;
            display: block;
            margin: auto;
        }

        &:hover {
            background-color: transparent;
            color: $color-secondary;
        }

        &--inverse {
            background: transparent;
            border: 1px solid $color-secondary;
            padding: 12px 48px;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            color: $color-secondary;
            border-radius: 3px;
            text-transform: uppercase;
            display: inline-block;
            @include transition(.3s);

            @media only screen and (max-width:$mobile) {
                padding: 10px 30px;
                font-size: .9em;
                display: block;
                margin: auto;
            }

            &:hover {
                background-color: $color-secondary;
                color: $color-white;
            }
        }
    }

    &--secondary {
        background: transparent;
        border: 1px solid $color-white;
        padding: 12px 48px;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: $color-white;
        border-radius: 3px;
        @include transition(.3s);
        text-transform: uppercase;

        @media only screen and (max-width:$mobile) {
            padding: 10px 30px;
            font-size: .9em;
            display: block;
            margin: auto;
        }

        &:hover {
            color: $color-white;
            border: 1px solid $color-secondary;
            background: $color-secondary;
        }
    }

    &--search {
        color: $color-white;
        font-size: 25px;
        vertical-align: middle;
    }

    &--scroll-down {
        color: $color-white;
        background: transparent;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
    }


}



.cta-wrapper {
    &__hr {
        button {
            margin-right: 20px;
        }
    }
}